<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<plugins>
		<plugin interceptor="com.sn.utils.paginator.PageInterceptor">
			<property name="dialectClass"
				value="com.sn.utils.paginator.dialect.OracleDialect" />
		</plugin>
	</plugins>
</configuration>